@model ClimbingCommunity.Models.ClimberModels.ClimberDetail

@{
    ViewBag.Title = "Details";
}

<h2>Climber Details</h2>

<div>
    <hr />
    @if (TempData["ClimberMessage"] != null){
        <div class="alert alert-success m-0 p-3 m-2" role="alert">

            <p class="d-inline ms-2">@TempData["ClimberMessage"]</p>

            <button type="button"  class="btn btn-success close align-top" data-dismiss="alert">
                <img src="~/Assets/bs-icons/x-lg.svg" alt="Alternate Text" class="d-inline align-text-bottom align-middle px-1 pb-1" width="25px" />
            </button>

        </div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClimberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClimberId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSends)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSends)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeGymName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGymName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GymId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymId)
        </dd>

    </dl>
</div>
<p>
    @if (Model.ClimberId == (int)TempData.Peek("CurrentClimberId"))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClimberId })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
