@model IEnumerable<ClimbingCommunity.Models.ClimberModels.ClimberListItem>

@{
    ViewBag.Title = "All Climbers";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Climber ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSends)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeGymName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            <p class="d-inline">V</p>@Html.DisplayFor(modelItem => item.TopGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSends)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeGymName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClimberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClimberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClimberId })
        </td>
    </tr>
}

</table>
